body {
  font-family: "Montserrat", sans-serif;
}
.border-tp {
  border-top: 1px rgb(152, 153, 153) solid;
}

.list-n {
  font-size: 0.8em;
}

.list-n a {
  color: #212529;
}

@media (min-width: 992px) {
  .nav-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end !important;
  }

  .border-tp {
    border-top: none;
  }

  .list-n {
    display: flex;
    flex-direction: row !important;
  }
  .item-ft {
    padding-left: 40px;
  }
}
